.MobileProfileCards {
    img {
        width: 128px;
        height: 128px;

        @media only screen and (max-width: 430px) {
            width: 142px;
            height: 142px;
        }

        @media only screen and (max-width: 420px) {
            width: 128px;
            height: 128px;
        }

    }
}