.instagram-text {
  margin: 21px;
  margin-left: 18px;
}

.line {
  width: 1px;
  height: 100vh;
  background-color: #dbdbdb;
  position: fixed;
  left: 269px;
}

.accaunt-place {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: -290px;
}

.Continue-Container {
  display: flex;
  justify-content: center;
}
