.items {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

  .down-section {
    display: flex;
    flex-direction: column;

    .createdAt-text {
      color: grey;
    }
  }
}