.MobileChat {
    display: flex;

    .chat-container {
        padding: 27px;
        padding-top: 20px;
        position: relative;
        width: 60px;

        .avatars {
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow: scroll;
            height: 100%;

            .content-avatar {
                width: 65px;
                height: 65px;


                &:hover {
                    transition: 400ms;
                    background-color: #efefef;
                }
            }
        }

        .left-line-border {
            position: absolute;
            right: 3px;
            height: 100%;
            top: 0;
            width: 1px;
            background-color: #dbdbdb;
        }
    }

    .Right-Chat-Conv {
        .top-chat {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 15px;
            padding-top: 35px;
        }

        .top-line {
            position: absolute;
            height: 1px;
            top: 89px;
            left: 115px;
            width: 310px;

            @media only screen and (max-width: 420px) {
                width: 260px;
            }

            background-color: #dbdbdb;
        }

        .message-box {
            display: flex;
            gap: 10px;
            align-items: center;
            padding-left: 10px;
            padding-top: 10px;

            .message-border {
                background: #f1f1f1;
                color: #000;
                border-radius: 20px 20px 20px 3px;
                display: block;
                max-width: 75%;
                padding: 7px 13px 7px 13px;
                cursor: pointer
            }
        }

    }
}

.Text-Area {
    position: fixed;
    bottom: 100px;
    margin-left: 121px;

    .btn {
        position: absolute;
        left: 175px;
        top: 4px;
    }
}


.conv-section {
    overflow: scroll;
    height: 550px;
}