.main {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .high-section {
    display: flex;
    justify-content: center;
    margin-top: 31px;

    @media only screen and (max-width: 600px) {
      margin-top: 115px;
    }

  }

  .accaunts {
    display: flex;
    gap: 12px;

    @media only screen and (max-width: 600px) {
      width: 350px;
      overflow: scroll;
    }
  }

  .posts-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    padding: 56px;
  }

  .posts-section-mobile {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    padding-top: 70px
  }


}