.MobileProfile-Container {
    .first-userName {
        text-align: center;
        font-size: 21px;
    }

    .Top-Line {
        width: 100%;
        height: 1px;
        position: absolute;
        top: 52px;
        background-color: rgb(217, 217, 217);
    }

    .info-content {
        display: flex;
        gap: 20px;
        align-items: center;
        padding-left: 20px;
        padding-top: 20px;

        .content {
            display: flex;
            flex-direction: column;

            h2 {
                font-weight: 400;
                font-size: 21px;
            }
        }


    }

    .items {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 43px;
        gap: 20px;
        position: relative;

        .items-first-line {
            width: 100%;
            height: 1px;
            position: absolute;
            top: -6px;
            background-color: rgb(217, 217, 217);
        }

        .items-last-line {
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -9px;
            background-color: rgb(217, 217, 217);
        }
    }

    .profile-icons {
        display: flex;
        justify-content: space-around;
        margin-top: 13px;
        position: relative;

        .line-for-icons {
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            background-color: rgb(217, 217, 217);
        }
    }

    .Mobile-Cards-Container {
        display: flex;
        gap: 2px;
        flex-wrap: wrap;
        justify-content: center;
    }
}